@font-face {
  font-family: "TitilliumWebRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "TitilliumWebItalic";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Italic.ttf");
}
@font-face {
  font-family: "TitilliumWebBold";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/TitilliumWeb-Bold.ttf");
}
@font-face {
  font-family: "TitilliumWebBoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("../../assets/fonts/TitilliumWeb-BoldItalic.ttf");
}
/* mobile media query*/
/* tablet media query */
/* desktop media query medium pixel dpi */
/* desktop media query high pixel dpi */
.inventory-details {
  position: relative;
  margin: 0 24px;
  padding: 24px 0 0 0;
  top: 20%;
  bottom: 0;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-details {
    min-height: 400px;
    border-radius: 5px;
    padding: 24px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-details {
    min-height: 400px;
    border-radius: 5px;
    padding: 24px 0;
  }
}
.inventory-details__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 0;
}
.inventory-details__info__text {
  font-size: 13px;
  display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-details__info__text {
    font-size: 12px;
    line-height: 16px;
    color: #13182c;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-details__info__text {
    font-size: 12px;
    line-height: 16px;
    color: #13182c;
    margin: 0;
  }
}
.inventory-details__info__header {
  display: inline;
  font-size: 28px;
  line-height: 36px;
  margin-left: 24px;
}
.inventory-details__info__info-header {
  margin: 16px 0 0 0;
  color: #5c667e;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
}
.inventory-details__info__upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  border-bottom: #bdc5d5 solid 1px;
}
.inventory-details__info__upper--left {
  width: 300px;
}
.inventory-details__info__lower {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-details__info__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-details__info__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-details__info__lower-left {
    padding-right: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-details__info__lower-left {
    padding-right: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-details__info__lower-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: #bdc5d5 solid 1px;
    padding-left: 24px;
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-details__info__lower-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: #bdc5d5 solid 1px;
    padding-left: 24px;
    width: 70%;
  }
}
.inventory-details__info__lower-right--statusandquantity {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-details__info__lower-right--statusandquantity {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-details__info__lower-right--statusandquantity {
    width: 50%;
  }
}

.invisible {
  display: none;
}