@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: "TitilliumWebRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "TitilliumWebItalic";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Italic.ttf");
}
@font-face {
  font-family: "TitilliumWebBold";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/TitilliumWeb-Bold.ttf");
}
@font-face {
  font-family: "TitilliumWebBoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("../../assets/fonts/TitilliumWeb-BoldItalic.ttf");
}
/* mobile media query*/
/* tablet media query */
/* desktop media query medium pixel dpi */
/* desktop media query high pixel dpi */
.material-icons.blue {
  color: #2e66e5;
  padding-left: 8px;
}

.material-icons.md-18 {
  color: #2e66e5;
  font-size: 18px;
}

.inventory-list {
  position: relative;
}
.inventory-list__items {
  font-size: 11px;
  line-height: 16px;
}
.inventory-list__headers {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__headers {
    border-radius: 3px;
    padding: 16px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__headers {
    border-radius: 3px;
    padding: 16px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
}
.inventory-list__status.col-3 {
  padding-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .inventory-list__status.col-3:before {
    content: "STATUS";
    display: block;
    color: #5c667e;
    margin-bottom: 5px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__status.col-3 {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__status.col-3 {
    flex-basis: 50%;
  }
}
.inventory-list__status.col-3 p {
  display: inline;
  margin-top: 0;
  vertical-align: top;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .inventory-list__status.col-3 p {
    margin-bottom: 5px;
  }
}
.inventory-list__items {
  font-size: 11px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-bottom: 1px solid #5c667e;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items {
    border-radius: 0;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items {
    border-radius: 0px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #5c667e;
  }
}
.inventory-list__items .col-5 {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items .col-5 {
    display: initial;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items .col-5 {
    display: initial;
  }
}
.inventory-list__items .col-5 .material-icons.red {
  color: #c94515;
  padding-left: 0;
}
.inventory-list__items--top {
  display: flex;
  height: 100px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items--top {
    flex-basis: 80%;
    height: 50px;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items--top {
    flex-basis: 80%;
    height: 5px;
    justify-content: space-between;
  }
}
.inventory-list__items--divider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items--divider {
    width: 100%;
    flex-basis: 50%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items--divider {
    width: 100%;
    flex-basis: 50%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .inventory-list__items--divider .col-2:before {
    content: "CATEGORY";
    display: block;
    color: #5c667e;
    margin-bottom: 5px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items--divider .col-2 {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items--divider .col-2 {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .inventory-list__items--divider .col-4:before {
    content: "QTY";
    display: block;
    color: #5c667e;
    margin-bottom: 5px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items--divider .col-4 {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items--divider .col-4 {
    flex-basis: 50%;
  }
}
.inventory-list__items__item-name {
  font-size: 11px;
  line-height: 16px;
  color: #2e66e5;
  font-weight: 600;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__items__item-name {
    text-align: left;
    width: 40%;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    display: initial;
    height: 1rem;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__items__item-name {
    text-align: left;
    width: 40%;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    display: initial;
    height: 1rem;
    padding: 0;
  }
}
.inventory-list__items span {
  padding-left: 5px;
}

.col {
  text-align: left;
}

.inventory-list__item-name.col-1 {
  flex-basis: 20%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .inventory-list__item-name.col-1 {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory-list__item-name.col-1 {
    flex-basis: 50%;
  }
}
.inventory-list__item-name.col-1 p {
  display: inline;
  margin-top: 0;
  vertical-align: top;
  color: #2e66e5;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .inventory-list__item-name.col-1 p:before {
    content: "INVENTORY ITEM";
    display: block;
    color: #5c667e;
    margin-bottom: 5px;
    font-weight: 600;
  }
}

.inStock {
  font-size: 11px;
  line-height: 16px;
  color: #158463;
  font-weight: 600;
  margin: 0;
  background-color: rgba(21, 132, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
}

.OutOfStock {
  font-size: 11px;
  line-height: 16px;
  color: #c94515;
  font-weight: 600;
  margin: 0;
  background-color: rgba(201, 69, 21, 0.2);
  border-radius: 20px;
  padding: 5px;
}

.delete-modal {
  padding: 1rem;
  position: absolute;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .delete-modal {
    padding: 2rem 4rem;
    top: 202px;
    left: 48px;
    right: 48px;
    height: 19rem;
  }
}
@media screen and (min-width: 1280px) {
  .delete-modal {
    padding: 2rem 4rem;
    top: 220px;
    left: 265px;
    right: 265px;
  }
}
.delete-modal__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .delete-modal__overlay {
    background-color: rgba(19, 24, 44, 0.7);
  }
}
.delete-modal__title {
  margin: 3.75rem 0 1rem;
  font-size: 1.75rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .delete-modal__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
.delete-modal__text {
  margin-bottom: 22rem;
  font-size: 0.9375rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .delete-modal__text {
    margin-bottom: 2rem;
  }
}
.delete-modal__btns {
  display: flex;
  justify-content: right;
  gap: 1rem;
  cursor: pointer;
}
.delete-modal__btn {
  all: unset;
  width: 100%;
  min-height: 2.25rem;
  border-radius: 1.25rem;
  color: #5c667e;
  font-weight: 600;
  border: 0.0625rem solid #bdc5d5;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .delete-modal__btn {
    height: 2.375rem;
    width: 8.625rem;
  }
}
.delete-modal__btn--delete {
  background-color: #c94515;
  color: white;
  border: none;
}
.delete-modal__close-btn {
  position: absolute;
  top: 1.3125rem;
  right: 1rem;
  border: none;
  width: auto;
  height: auto;
  cursor: pointer;
}