@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons.blue {
  color: $indigo-color;
  padding-left: 8px;
}
.material-icons.red {
  color: $red-color;
}
.material-icons.md-18 {
  font-size: 18px;
}

.inventory-list {
  &__items {
    font-size: 11px;
    line-height: 16px;
  }
  &__headers {
    display: none;
    @include medium {
      border-radius: 3px;
      padding: 16px 24px 16px 24px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    @include medium {
      border-radius: 3px;
      padding: 16px 24px 16px 24px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
    }

    &--top {
      display: flex;
      height: 100px;
      margin-bottom: 24px;
    }
    &--divider {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }
  }
  &__item-name {
    font-size: 11px;
    line-height: 16px;
    color: $indigo-color;
    font-weight: 600;
    margin: 0;

    & span {
      padding-left: 5px;
    }
  }
}
.col {
  text-align: left;
}
.col-1 {
  flex-basis: 20%;

  p {
    display: inline;
    margin-top: 0;
    vertical-align: top;

    @include small {
      &:before {
        content: "INVENTORY ITEM";
        display: block;
        color: $slate-color;
        margin-bottom: 5px;
        font-weight: 600;
      }
    }
  }
}
.col-2 {
  @include small {
    &:before {
      content: "CATEGORY";
      display: block;
      color: $slate-color;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }
}
.col-3 {
  padding-bottom: 8px;
  @include small {
    &:before {
      content: "STATUS";
      display: block;
      color: $slate-color;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }

  p {
    display: inline;
    margin-top: 0;
    vertical-align: top;
    margin: 0;
    @include small {
      margin-bottom: 5px;
    }
  }
}
.col-4 {
  @include small {
    &:before {
      content: "QTY";
      display: block;
      color: $slate-color;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }
}
.col-5 {
  display: flex;
  justify-content: space-between;
}

.inStock {
  font-size: 11px;
  line-height: 16px;
  color: $green-color;
  font-weight: 600;
  margin: 0;
  background-color: rgba(21, 132, 00, 0.2);
  border-radius: 20px;
  padding: 5px;
}

.OutOfStock {
  font-size: 11px;
  line-height: 16px;
  color: $red-color;
  font-weight: 600;
  margin: 0;
  background-color: rgba(201, 69, 21, 0.2);
  border-radius: 20px;
  padding: 5px;
}
