@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons.blue {
  color: $indigo-color;
  padding-left: 8px;
}

.material-icons.md-18 {
  color: $indigo-color;
  font-size: 18px;
}

.inventory-list {
  &__headers {
    display: none;
    @include medium {
      border-radius: 3px;
      padding: 16px 24px 16px 24px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
    }
    @include large {
      border-radius: 3px;
      padding: 16px 24px 16px 24px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
    }
  }

  &__status.col-3 {
    padding-bottom: 8px;
    @include small {
      &:before {
        content: "STATUS";
        display: block;
        color: $slate-color;
        margin-bottom: 5px;
        font-weight: 600;
      }
    }
    @include medium {
      flex-basis: 50%;
    }
    @include large {
      flex-basis: 50%;
    }

    p {
      display: inline;
      margin-top: 0;
      vertical-align: top;
      margin: 0;
      @include small {
        margin-bottom: 5px;
      }
    }
  }

  &__items {
    font-size: 11px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-bottom: 1px solid $slate-color;
    @include medium {
      border-radius: 3px;
      padding: 16px 24px 16px 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
    }

    @include large {
      border-radius: 3px;
      padding: 16px 24px 16px 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
      border-bottom: 1px solid $slate-color;
    }
    .col-5 {
      display: flex;
      justify-content: space-between;
      @include medium {
        display: initial;
      }
      @include large {
        display: initial;
      }
      .material-icons.red {
        color: $red-color;
        padding-left: 0;
      }
    }

    &--top {
      display: flex;
      height: 100px;
      margin-bottom: 24px;
      @include medium {
        flex-basis: 80%;
        height: 50px;
        justify-content: space-between;
      }
      @include large {
        flex-basis: 80%;
        height: 5px;
        justify-content: space-between;
      }
    }
    &--divider {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      @include medium {
        width: 100%;
        flex-basis: 50%;
        flex-direction: row;
        justify-content: space-between;
      }
      @include large {
        width: 100%;
        flex-basis: 50%;
        flex-direction: row;
        justify-content: space-between;
      }

      .col-2 {
        @include small {
          &:before {
            content: "CATEGORY";
            display: block;
            color: $slate-color;
            margin-bottom: 5px;
            font-weight: 600;
          }
        }
        @include medium {
          flex-basis: 50%;
        }
        @include large {
          flex-basis: 50%;
        }
      }
      .col-4 {
        @include small {
          &:before {
            content: "QTY";
            display: block;
            color: $slate-color;
            margin-bottom: 5px;
            font-weight: 600;
          }
        }
        @include medium {
          flex-basis: 50%;
        }
        @include large {
          flex-basis: 50%;
        }
      }
    }
    &__item-name {
      font-size: 11px;
      line-height: 16px;
      color: $indigo-color;
      font-weight: 600;
      margin: 0;
      @include medium {
        text-align: left;
        width: 40%;
        font-size: 11px;
        line-height: 16px;
        font-weight: 600;
        display: initial;
        height: 1rem;
        padding: 0;
      }
      @include large {
        text-align: left;
        width: 40%;
        font-size: 11px;
        line-height: 16px;
        font-weight: 600;
        display: initial;
        height: 1rem;
        padding: 0;
      }
    }

    & span {
      padding-left: 5px;
    }
  }
}
.col {
  text-align: left;
}
.inventory-list__item-name.col-1 {
  flex-basis: 20%;
  @include medium {
    flex-basis: 50%;
  }
  @include large {
    flex-basis: 50%;
  }

  p {
    display: inline;
    margin-top: 0;
    vertical-align: top;
    color: $indigo-color;
    font-weight: 600;

    @include small {
      &:before {
        content: "INVENTORY ITEM";
        display: block;
        color: $slate-color;
        margin-bottom: 5px;
        font-weight: 600;
      }
    }
  }
}

.inStock {
  font-size: 11px;
  line-height: 16px;
  color: $green-color;
  font-weight: 600;
  margin: 0;
  background-color: rgba(21, 132, 00, 0.2);
  border-radius: 20px;
  padding: 5px;
}

.OutOfStock {
  font-size: 11px;
  line-height: 16px;
  color: $red-color;
  font-weight: 600;
  margin: 0;
  background-color: rgba(201, 69, 21, 0.2);
  border-radius: 20px;
  padding: 5px;
}
