@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

ul {
  width: 100%;
  border-collapse: collapse;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

li {
  border-radius: 3px;
  padding: 16px 24px 16px 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.inventory-list {
  &__headers {
    background-color: $grey-color;
    color: $slate-color;
    text-align: left;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
  }
}
.col {
  text-align: left;
}
.col-1 {
  flex-basis: 20%;
}
.col-2 {
  flex-basis: 20%;
}
.col-3 {
  flex-basis: 20%;
}
.col-4 {
  flex-basis: 20%;
}
.col-5 {
  flex-basis: 20%;
}
