//Primary-Colors
$black-color: #13182c; //Instock-Black
$indigo-color: #2e66e5; //Instock-Indigo
$white-color: white;

//Secondary-Colors
$slate-color: #5c667e; //Slate
$cloud-color: #bdc5d5; //Cloud

//Background-Colors
$graphite-color: #232940; //Graphite
$grey-color: #f7f8f9; //Light-grey

///Supporting-Colors
$green-color: #158463; //Green
$red-color: #c94515; //Red