@import '../../styles/partials/breakpoints';
@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';

body {
    margin: 0px;
    padding: 0;
    border: none;
}

.edit__inventory--section {
    border-radius: 0.1875rem;
    ;

    @include small {
        margin: 0 auto;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        top: 70%;
        left: 50%;
    }

    @include medium {
        margin: 0 auto;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 50%;
    }

    @include large {
        margin: 0 auto;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        top: 35%;
        left: 50%;
    }

    @include huge {
        margin: auto;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
}

.edit__inventory--form {

    @include small {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }

    @include medium {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    @include large {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    @include huge {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}

.edit__inventory--header {

    @include small {
        display: flex;
        flex-direction: row;
        align-content: center;
        border-bottom: 1px solid $cloud-color;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include medium {
        display: flex;
        flex-direction: row;
        align-content: center;
        border-bottom: 1px solid $cloud-color;
        padding-left: 3rem;
    }


    @include large {
        display: flex;
        flex-direction: row;
        align-content: center;
        border-bottom: 1px solid $cloud-color;
        padding-left: 3rem;
    }

    @include huge {
        display: flex;
        flex-direction: row;
        align-content: center;
        border-bottom: 1px solid $cloud-color;
        padding-left: 3rem;
    }
}

.edit__inventory--header svg {

    @include small {
        align-items: center;
        align-self: center;
    }

    @include medium {
        align-items: center;
        align-self: center;
    }


    @include large {
        align-items: center;
        align-self: center;
    }

    @include huge {
        align-items: center;
        align-self: center;
    }
}

.edit__inventory--header h1 {
    @include small {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    @include medium {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @include large {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @include huge {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.edit__inventory--container {
    @include small {
        width: 100%;
    }
}

.edit__inventory--container h3 {

    @include small {
        margin: 0;
        line-height: 20px;
        font-size: 13px;
        padding-bottom: 4px;
    }

    @include medium {
        margin: 0;
        line-height: 22px;
        font-size: 14px;
        padding-bottom: 4px;
    }


    @include large {
        margin: 0;
        line-height: 22px;
        font-size: 14px;
        padding-bottom: 4px;
    }

    @include huge {
        margin: 0;
        line-height: 22px;
        font-size: 14px;
        padding-bottom: 4px;
    }
}

.inventory__details {

    @include small {
        flex: 1;
        flex-direction: column;
        border-bottom: 1px solid $cloud-color;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }

    @include medium {
        flex: 1;
        flex-direction: column;
        width: 50%;
        border-right: 1px solid $cloud-color;
        padding-left: 3rem;
        padding-right: 3rem;
    }


    @include large {
        flex: 1;
        flex-direction: column;
        width: 50%;
        border-right: 1px solid $cloud-color;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include huge {
        flex: 1;
        flex-direction: column;
        width: 50%;
        border-right: 1px solid $cloud-color;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.contact__details {

    @include small {
        flex: 1;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }

    @include medium {
        flex: 1;
        flex-direction: column;
        width: 50%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include large {
        flex: 1;
        flex-direction: column;
        width: 50%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include huge {
        flex: 1;
        flex-direction: column;
        width: 50%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.form__inventory--actions {

    @include small {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $grey-color;
        height: 3rem;
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include medium {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background-color: $grey-color;
        height: 3rem;
        box-sizing: border-box;
        gap: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include large {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background-color: $grey-color;
        height: 3rem;
        box-sizing: border-box;
        gap: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include huge {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background-color: $grey-color;
        height: fit-content;
        box-sizing: border-box;
        gap: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.cancel__button {

    @include small {
        height: 36px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        border: 1px solid $cloud-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    @include medium {
        height: 38px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        border: 1px solid $cloud-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include large {
        height: 38px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        border: 1px solid $cloud-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include huge {
        height: 38px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        border: 1px solid $cloud-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.inventory__button--container {
    @include small {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.add__inventory--button {

    @include small {
        height: 36px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        background-color: $indigo-color;
        color: white;
        border: none;
        margin-right: 3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    @include medium {
        height: 38px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        background-color: $indigo-color;
        color: white;
        border: none;
        margin-right: 3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include large {
        height: 38px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        background-color: $indigo-color;
        color: white;
        border: none;
        margin-right: 3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include huge {
        height: 38px;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 20px;
        background-color: $indigo-color;
        color: white;
        border: none;
        margin-right: 3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.default__form--field {

    @include small {
        height: 2.25rem;
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    @include medium {
        height: 2.375rem;
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    @include large {
        height: 2.375rem;
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    @include huge {
        height: 2.375rem;
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }
}

.form-inventory__actions {
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;

    @include medium {
        gap: 1rem;
        padding-bottom: 2rem;
    }

    @include large {
        gap: 1rem;
        padding-bottom: 2rem;
    }

    @include huge {
        gap: 1rem;
        padding-bottom: 2rem;

    }
}

.page-header__heading-and-back-container {
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
}

.page-header__back {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../assets/assets/Icons/arrow_back-24px.svg") no-repeat center;
    align-self: center;
}

.page-header__heading {
    font-size: 1.75rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 2.25rem;
}

@media screen and (min-width: 768px) {
    .page-header__heading {
        font-size: 2rem;
    }
}

.default__form--textarea {
    resize: none;

    @include small {
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    @include medium {
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    @include large {
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    @include huge {
        border-radius: 20px;
        width: 100%;
        border: 1px solid $cloud-color;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }
}

.form__status {
    margin-bottom: 1rem;
}

.form__status--option {
    display: flex;
    gap: 4rem;
}

select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E")
}