@font-face {
  font-family: "TitilliumWebRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "TitilliumWebItalic";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Italic.ttf");
}
@font-face {
  font-family: "TitilliumWebBold";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/TitilliumWeb-Bold.ttf");
}
@font-face {
  font-family: "TitilliumWebBoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("../../assets/fonts/TitilliumWeb-BoldItalic.ttf");
}
/* mobile media query*/
/* tablet media query */
/* desktop media query medium pixel dpi */
/* desktop media query high pixel dpi */
.in-stock {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  color: #158463;
  font-weight: 600;
  margin: 13px 0 0 0;
  background-color: rgba(21, 132, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
}

.out-of-stock {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  color: #c94515;
  font-weight: 600;
  margin: 13px 0 0 0;
  background-color: rgba(201, 69, 21, 0.2);
  border-radius: 20px;
  padding: 5px;
}