.header {
  background-color: #232940;
  height: 12rem;
  font-family: TitilliumWebRegular;
  font-size: 15px;
  padding-top: 0.5rem;

  @include medium {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @include large {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 4.5rem;
  }

  @include huge {
    display: flex;
    justify-content: space-between;
    padding-left: 6.5rem;
    padding-right: 6rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;

    &-link {
      display: block;
      height: fit-content;
    }
  }
}

.nav {
  padding-top: 1rem;
  display: flex;
  justify-content: center;



  &__link {
    text-decoration: none;
    color: #bdc5d5;
    margin-right: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;

    &:active {
      color: white;
      background-color: #13182c;
      border-radius: 1.25rem;
      padding: 0.5rem 1rem;
      width: 100%;
      margin-right: 1rem;
      height: max-content;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}